{% extends "base.html" %}
{% load frichtext_tags wagtailcore_tags static %}

{% block content %}
    {% include "includes/intro.html" with type="rich text field" %}
    <ul class="text-component">
        <li>
            <pre>{% verbatim %}{{ page.body|richtext }}{% endverbatim %}</pre>
            <p>Using the wagtail richtext filter:</p>
            <div class="beautify">{{ page.body|richtext }}</div>
            <textarea cols="140" rows="8"></textarea>
            {% comment %} {{ page.body|richtext }} {% endcomment %}
            <hr />
        </li>
        <li>
            <pre>{% verbatim %}{{ page.body|f_richtext }}{% endverbatim %}</pre>
            <p>Using the frichtext filter: no arguments are passed so it works the same as the richtext filter</p>
            <div class="beautify">{{ page.body|f_richtext }}</div>
            <textarea cols="140" rows="8"></textarea><br />
            {% comment %} {{ page.body|f_richtext }} {% endcomment %}
            <hr />
        </li>
        <li>
            <pre>{% verbatim %}{{ page.body|f_richtext:"external" }}{% endverbatim %}</pre>
            <p>Using the frichtext filter: passing the "external" argument which adds classes defined in the config F_RICHTEXT_EXTERNAL_CONFIG</p>
            <div class="beautify">{{ page.body|f_richtext:"external" }}</div>
            <textarea cols="140" rows="8"></textarea><br />
            {{ page.body|f_richtext:"external" }}
            <hr />
        </li>
        <li>
            <pre>{% verbatim %}{{ page.body|f_richtext:"internal" }}{% endverbatim %}</pre>
            <p>Using the frichtext filter: passing the "internal" argument which adds inline styles defined in the config F_RICHTEXT_INTERNAL_CONFIG</p>
            <div class="beautify">{{ page.body|f_richtext:"internal" }}</div>
            <textarea cols="140" rows="8"></textarea><br />
            {% comment %} {{ page.body|f_richtext:"internal" }} {% endcomment %}
            <hr />
        </li>
    </ul>
{% endblock %}

{% block extra_js %}
    {% include "includes/extra_js.html" %}
{% endblock %}

{% block extra_css %}
    {% include "includes/extra_css.html" %}
{% endblock %}
