{% extends "base.html" %}
{% load frichtext_tags wagtailcore_tags static %}

{% block body_class %}template-styling-only{% endblock %}

{% block content %}
        <h1>{{ page.title }}</h1>
        
        <div class="border-box">
            <p class="label">Template Tag:</p>
            <div class="padding">{% verbatim %}{{ page.body|f_richtext:"framework" }}{% endverbatim %}</div>
            <p class="padding">This template tag will parse the html and add classes defined in your configuration.</p>
            <p class="label">HTML:</p>
            <pre><code class="language-html"></code></pre>
            <div class="beautify padding">{{ page.body|f_richtext:"framework" }}</div>
        </div>

        <div class="border-box">
            <p class="label">Template Tag:</p>
            <div class="padding">{% verbatim %}{{ page.body|f_richtext:"inline_styles" }}{% endverbatim %}</div>
            <p class="padding">This template tag will parse the html and inline styles defined in your configuration</p>
            <p class="label">HTML:</p>
            <pre><code class="language-html"></code></pre>
            <div class="beautify padding">{{ page.body|f_richtext:"inline_styles" }}</div>
        </div>

        <div class="border-box">
            <p class="label">Template Tag:</p>
            <div class="padding">{% verbatim %}{{ page.body|f_richtext }}{% endverbatim %}</div>
            <p class="padding">For comparison this is the output from the template tag without a format</p>
            <p class="label">HTML:</p>
            <pre><code class="language-html"></code></pre>
            <div class="beautify padding">{{ page.body|f_richtext }}</div>
        </div>

{% endblock %}
